-- phpMyAdmin SQL Dump
-- version 3.3.1
-- http://www.phpmyadmin.net
--
-- Host: localhost
-- Generation Time: Dec 17, 2013 at 10:46 AM
-- Server version: 5.0.90
-- PHP Version: 5.4.6

SET SQL_MODE="NO_AUTO_VALUE_ON_ZERO";


/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;

--
-- Database: `crazy`
--

-- --------------------------------------------------------

--
-- Table structure for table `accounts`
--

CREATE TABLE IF NOT EXISTS `accounts` (
  `id` int(11) NOT NULL COMMENT 'Уникальный ID счета',
  `balance` decimal(15,3) NOT NULL COMMENT 'Баланс счета',
  `blocked` enum('0','1') NOT NULL default '0' COMMENT 'Флаг блокировки счета',
  `currency` varchar(16) NOT NULL COMMENT 'Валюта',
  `TimeModify` timestamp NOT NULL default '0000-00-00 00:00:00' on update CURRENT_TIMESTAMP COMMENT 'Время последнего изменения счета',
  PRIMARY KEY  (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Таблица счетов в банке';

--
-- Dumping data for table `accounts`
--

INSERT INTO `accounts` (`id`, `balance`, `blocked`, `currency`, `TimeModify`) VALUES
(0, 99655735.140, '1', 'Eroshi', '2012-12-27 23:25:54'),
(1, 400.000, '0', 'Eroshi', '2012-12-26 17:25:55');

-- --------------------------------------------------------

--
-- Table structure for table `accounts_res`
--

CREATE TABLE IF NOT EXISTS `accounts_res` (
  `id` int(11) NOT NULL COMMENT 'Уникальный ID счета',
  `balance` decimal(15,3) NOT NULL COMMENT 'Баланс счета',
  `blocked` enum('0','1') NOT NULL default '0' COMMENT 'Флаг блокировки счета',
  `currency` varchar(16) NOT NULL COMMENT 'Валюта',
  `TimeModify` timestamp NOT NULL default '0000-00-00 00:00:00' on update CURRENT_TIMESTAMP COMMENT 'Время последнего изменения счета',
  PRIMARY KEY  (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Таблица счетов в банке';

--
-- Dumping data for table `accounts_res`
--


-- --------------------------------------------------------

--
-- Table structure for table `companies`
--

CREATE TABLE IF NOT EXISTS `companies` (
  `id` int(11) NOT NULL auto_increment COMMENT 'Уникальный ID счета',
  `oname` varchar(64) NOT NULL COMMENT 'Название компании',
  `balance_all` int(11) NOT NULL COMMENT 'Общий доход за игру',
  PRIMARY KEY  (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Таблица предприятий' AUTO_INCREMENT=1 ;

--
-- Dumping data for table `companies`
--


-- --------------------------------------------------------

--
-- Table structure for table `company_participators`
--

CREATE TABLE IF NOT EXISTS `company_participators` (
  `oid` int(4) NOT NULL COMMENT 'ID счета организации',
  `uid` int(3) NOT NULL COMMENT 'ID счета пользователя',
  `percentage` int(3) NOT NULL COMMENT 'Доля участия',
  KEY `uid` (`uid`),
  KEY `oid` (`oid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Соотнесение пользователей и компаний';

--
-- Dumping data for table `company_participators`
--


-- --------------------------------------------------------

--
-- Table structure for table `currency`
--

CREATE TABLE IF NOT EXISTS `currency` (
  `name` varchar(32) NOT NULL COMMENT 'Название валюты',
  `bankname` varchar(32) NOT NULL COMMENT 'Системное название',
  `rate` decimal(5,3) NOT NULL COMMENT 'Курс по отношению к ЛИТу',
  PRIMARY KEY  (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Таблица валют';

--
-- Dumping data for table `currency`
--

INSERT INTO `currency` (`name`, `bankname`, `rate`) VALUES
('Ероши', 'Eroshi', 1.000);

-- --------------------------------------------------------

--
-- Table structure for table `groups`
--

CREATE TABLE IF NOT EXISTS `groups` (
  `bankname` varchar(32) NOT NULL COMMENT 'Системное имя группы',
  `name` varchar(32) NOT NULL COMMENT 'Имя группы',
  PRIMARY KEY  (`bankname`,`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Список групп пользователей';

--
-- Dumping data for table `groups`
--

INSERT INTO `groups` (`bankname`, `name`) VALUES
('admin', 'Администраторы'),
('bankteller', 'Банковский кассир'),
('government', 'Правительства'),
('registrar', 'Регистраторы');

-- --------------------------------------------------------

--
-- Table structure for table `logs_admin`
--

CREATE TABLE IF NOT EXISTS `logs_admin` (
  `admin_id` int(3) NOT NULL COMMENT 'ID администратора',
  `account_id` int(4) NOT NULL COMMENT 'ID счета, над которым совершено действие',
  `action` varchar(255) NOT NULL COMMENT 'Описание действия',
  `ip` varchar(15) NOT NULL COMMENT 'IP-адрес',
  `time` timestamp NOT NULL default CURRENT_TIMESTAMP COMMENT 'Время действия'
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Логи административных действий';

--
-- Dumping data for table `logs_admin`
--


-- --------------------------------------------------------

--
-- Table structure for table `logs_errors`
--

CREATE TABLE IF NOT EXISTS `logs_errors` (
  `id` int(4) NOT NULL COMMENT 'id пользователя, получившего ошибку. 0, если guest',
  `error` varchar(1024) NOT NULL COMMENT 'Текст выданной ошибки',
  `ip` varchar(15) NOT NULL COMMENT 'IP пользователя',
  `time` timestamp NOT NULL default CURRENT_TIMESTAMP COMMENT 'Время'
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Лог всех ошибок';

--
-- Dumping data for table `logs_errors`
--


-- --------------------------------------------------------

--
-- Table structure for table `logs_logins`
--

CREATE TABLE IF NOT EXISTS `logs_logins` (
  `id` int(11) NOT NULL COMMENT 'ID счета',
  `ip` varchar(255) NOT NULL COMMENT 'IP-адрес',
  `success` enum('0','1') NOT NULL COMMENT 'Флаг успешного входа',
  `timestamp` timestamp NOT NULL default CURRENT_TIMESTAMP COMMENT 'Время попытки входа',
  KEY `id` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Лог попыток входа в систему';

--
-- Dumping data for table `logs_logins`
--


-- --------------------------------------------------------

--
-- Table structure for table `logs_money`
--

CREATE TABLE IF NOT EXISTS `logs_money` (
  `id_from` int(4) NOT NULL COMMENT 'ID счета отправителя',
  `id_to` int(4) NOT NULL COMMENT 'ID счета получателя',
  `money` decimal(9,3) NOT NULL default '0.000' COMMENT 'Сумма перевода',
  `currency` varchar(16) NOT NULL COMMENT 'Валюта, в которой совершен перевод',
  `comment` varchar(128) NOT NULL COMMENT 'Комментарий к переводу',
  `ip` varchar(15) NOT NULL COMMENT 'IP-адрес',
  `timestamp` timestamp NOT NULL default CURRENT_TIMESTAMP COMMENT 'Время перевода',
  KEY `id_from` (`id_from`),
  KEY `id_to` (`id_to`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Лог денежных переводов';

--
-- Dumping data for table `logs_money`
--


-- --------------------------------------------------------

--
-- Table structure for table `states`
--

CREATE TABLE IF NOT EXISTS `states` (
  `name` varchar(128) NOT NULL COMMENT 'Название государства',
  `bankname` varchar(32) NOT NULL COMMENT 'Системное название',
  `account_id` int(11) NOT NULL COMMENT 'Счет государства',
  PRIMARY KEY  (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Таблица племен';

--
-- Dumping data for table `states`
--

INSERT INTO `states` (`name`, `bankname`, `account_id`) VALUES
('Монархическая партия', 'state1027', 1027);

-- --------------------------------------------------------

--
-- Table structure for table `users`
--

CREATE TABLE IF NOT EXISTS `users` (
  `id` int(11) NOT NULL auto_increment,
  `name` varchar(255) NOT NULL,
  `surname` varchar(255) NOT NULL,
  `litgroup` varchar(16) NOT NULL COMMENT 'Лицейская группа',
  `photo_url` varchar(255) NOT NULL COMMENT 'Ссылка на фотографию пользователя',
  `hash` varchar(255) NOT NULL,
  `state` varchar(16) NOT NULL COMMENT 'Государство',
  `TimeCreate` timestamp NOT NULL default CURRENT_TIMESTAMP COMMENT 'Время создания пользователя',
  PRIMARY KEY  (`id`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 COMMENT='Таблица пользователей системы' AUTO_INCREMENT=1362 ;

--
-- Dumping data for table `users`
--

INSERT INTO `users` (`id`, `name`, `surname`, `litgroup`, `photo_url`, `hash`, `state`, `TimeCreate`) VALUES
(1, 'Денис', 'Сумин', 'Выпускник', 'http://304.ru/uploadedfiles/av-1424.jpg', '$1$GjmuLHvh$xI2ZyZFfRYjuWBJPXyq090', 'Edro', '2011-12-20 07:41:29');

-- --------------------------------------------------------

--
-- Table structure for table `usersgroup`
--

CREATE TABLE IF NOT EXISTS `usersgroup` (
  `id` int(3) NOT NULL COMMENT 'Номер счета пользователя',
  `bankgroup` varchar(32) NOT NULL COMMENT 'Группа',
  KEY `id` (`id`),
  KEY `bankgroup` (`bankgroup`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Список групп каждого пользователя';

--
-- Dumping data for table `usersgroup`
--

INSERT INTO `usersgroup` (`id`, `bankgroup`) VALUES
(1, 'admin'),
(1, 'bankteller'),
(1, 'registrar');

-- --------------------------------------------------------

--
-- Table structure for table `votes_choices`
--

CREATE TABLE IF NOT EXISTS `votes_choices` (
  `vote_id` int(11) NOT NULL,
  `account_id` int(11) NOT NULL,
  `variant_id` int(11) NOT NULL,
  `timestamp` timestamp NOT NULL default CURRENT_TIMESTAMP,
  UNIQUE KEY `vote_id` (`vote_id`,`account_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8 COMMENT='Выбранные в голосованиях пункты';

--
-- Dumping data for table `votes_choices`
--


-- --------------------------------------------------------

--
-- Table structure for table `votes_list`
--

CREATE TABLE IF NOT EXISTS `votes_list` (
  `id` int(11) NOT NULL auto_increment COMMENT 'id голосования',
  `topic` varchar(256) NOT NULL COMMENT 'Тема голосования',
  `variants_num` int(11) NOT NULL COMMENT 'Количество вариантов ответа',
  `state_filter` enum('leftwing','rightwing') NOT NULL COMMENT 'Фильтр по государствам',
  `active` tinyint(1) NOT NULL,
  PRIMARY KEY  (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8 AUTO_INCREMENT=1 ;

--
-- Dumping data for table `votes_list`
--


-- --------------------------------------------------------

--
-- Table structure for table `votes_variants`
--

CREATE TABLE IF NOT EXISTS `votes_variants` (
  `vote_id` int(11) NOT NULL,
  `variant_id` int(11) NOT NULL,
  `text` varchar(256) NOT NULL,
  UNIQUE KEY `vote_id` (`vote_id`,`variant_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8 COMMENT='Варианты ответа';

--
-- Dumping data for table `votes_variants`
--

