body {
	background: #fff;
	margin-top: 40px;
}

body * {
	font-family: Arial;
	line-height: 140%;
}

#header {
	background: #f0eadd;
	height: 25px;
	left:0;
	position: absolute;
	right:0;
	top:0;
	width: auto !important;
	width: 100%;
}

#indexlink {
	background: transparent;
	height: 25px;
	padding: 3px 0 0 1.6%;
	position: absolute;
	left:0;
	text-align: left;
	top:0;
	z-index: 5;
}
	#indexlink a {
		color: #c21e16;
	}

#auth {
	background: transparent;
	height: 25px;
	padding: 3px 20px 0 0;
	position: absolute;
	right:0;
	text-align: right;
	top:0;
}

	#auth a {
		color: #c21e16;
		margin-left: 15px;
	}

#states {
	background: transparent;
	height: 25px;
	padding: 3px 0 0 0;
	position: absolute;
	left:15%;
	text-align: left;
	top:0;
}
	#states a {
		border-bottom: 1px dashed #c21e16;
		color: #c21e16;
		text-decoration: none;
	}

	#indexlink, #indexlink *, #auth, #auth *, #states, #states * {
		font-size: 10pt;
	}

#states {
	background: transparent;
	height: 25px;
	padding: 3px 0 0 0;
	position: absolute;
	left:15%;
	text-align: left;
	top:0;
}
	#states a {
		border-bottom: 1px dashed #c21e16;
		color: #c21e16;
		text-decoration: none;
	}

	#indexlink, #indexlink *, #auth, #auth *, #states, #states * {
		font-size: 10pt;
	}

#menu {
	position: absolute;
	left: 1.6%;
	top: 35px;
	width: 26%;
}

	#menu, #menu * {
		font-size: 12pt;
	}

	#menu ul, #menu li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	#menu li.modulename {
		margin-top: 15px;
	}

#main {
	left: 29.2%;
	/*padding*/
	position: absolute;
	right: 30%;
	top: 35px !important;
	top: 50px;
}

h1 {
	font-size: 20pt;
	font-weight: 100;
}

h2 {
	font-size: 18pt;
	font-weight: 100;
}

h3 {
	font-size: 16pt;
	font-weight: 100;
}

#accountlist {
	position: fixed !important;
	position: absolute;
	top: 28px;
	height: auto !important;
	height: 800px;
	bottom: 6px;
	right: 0px;
	width: 29.2%;
}

#errors {
	background: #f99;
	border: #f00 1px solid;
	padding: 15px;

	position: absolute;
	top:150px;
	left: 150px;
	right: 100px;
}

	#errors, #errors * {
		font-size: 12pt;
	}

table {
	border-collapse: collapse;
}

	table th, table td {
		border: 1px solid #ccc;
		padding: 1px 6px 1px 4px;
	}

	table.form th, table.form td {
		border: 0;
		padding-left: 0;
		padding-right: 10fopx;
	}

	table.userinfo th, table.userinfo td {
		border-left: 0;
		border-right: 0;
		padding: 2px 4px 2px 7px;
	}
		table.userinfo td ul, table.userinfo td ul li {
			margin:0;
			padding:0;
			list-style: none;
		}

#accounttable {
	min-width: 400px;
	width: 100%;
}

#filters, #hfilters {

	margin-bottom: 15px;
}
#filters {
	display: none;
}
	#filters div {
		border: 1px solid #ccc;
		padding: 5px;
	}

		#filters div p {
			margin: 0;
		}

a:link, a:visited { color: #005cdf;}
.cur a:link, .cur a:visited { color: #666;}
a:hover, a:active { color: #e60900;}


a.sort-arrow { text-decoration: none; }

form p { margin-top: 20px; clear: both;}

.comment {
	color: #888;
	font-size: 80%;
	font-style: italic;
}
